<a href="{{href}}" class="flex flex-row m-10 md:flex-col md:items-center">
    <img src="{{img}}" alt="{{imgalt}}" class="w-20 h-20"/>
    <p class="flex flex-col justify-center ml-5 md:ml-0 md:text-center">{{text}}</p>
</a>