<footer class="bg-navbackground bottom-0 w-full h-auto flex md:flex-row flex-col justify-between md:p-10 p-5">
    <div class="md:p-0 pb-5">
        <p class="font-bold text-textcolor">© 2022 Tobias Hilfiker</p>
    </div>
    <div>
        <p class="font-bold text-textcolor">Curling selbst ausprobieren in St. Gallen:</p>
        <a class="text-textcolor" href="https://www.curling-stgallen.ch" target="_blank">Curling Center St. Gallen</a>
    </div>
</footer>