<footer class="bg-navbackground bottom-0 w-full h-auto flex justify-between">
    <div class="mb-5 mt-5 ml-10">
        <p class="font-bold text-textcolor">Copyright & Impressum:</p>
        <p class="text-textcolor">Tobias Hilfiker</p>
        <p class="text-textcolor">GBS St. Gallen</p>
        <p class="text-textcolor">Demutstrasse 115</p>
        <p class="text-textcolor">CH-9012 St. Gallen</p>
        <a class="text-textcolor" href="mailto:tobias.hilfiker@edu.gbssg.ch">tobias.hilfiker@edu.gbssg.ch</a>
    </div>
    <div class="mb-5 mt-5 mr-10">
        <p class="font-bold text-textcolor">Curling selbst ausprobieren in St. Gallen:</p>
        <a class="text-textcolor" href="https://www.curling-stgallen.ch" target="_blank">Curling Center St. Gallen</a>
    </div>
</footer>