<nav class="bg-navbackground h-32 text-right flex flex-row justify-between items-center px-20">
    <img src="/curling_logo.png" alt="Logo" class="h-28"/>
    <div class="flex justify-between w-1/3 text-textcolor">
        <a href="index.html" class="{{#if homeActive}}font-bold{{/if}}">Home</a>
        <a href="rules.html" class="{{#if rulesActive}}font-bold{{/if}}">Regeln</a>
        <a href="spiritofcurling.html" class="{{#if spiritActive}}font-bold{{/if}}">Spirit of Curling</a>
        <a href="impressions.html" class="{{#if impressionsActive}}font-bold{{/if}}">Impressionen</a>
    </div>
</nav>