<div class="flex flex-row bg-banner mx-auto w-11/12 md:w-96 items-center justify-center">
    <img src="{{image}}" alt="{{imageAlt}}" class="w-12 h-12 justify-center mr-5 ml-5"/>
    <div>
        <p class="font-bold">{{title}}</p>
        <p class="mr-3 mb-3">{{description}}</p>
    </div>
</div>