<div class="flex flex-row bg-banner w-96 mb-6 items-center">
    <img src="{{image}}" alt="{{imageAlt}}" class="w-12 h-12 justify-center mr-5 ml-5"/>
    <div>
        <p class="font-bold">{{title}}</p>
        <p class="mr-3 mb-3">{{description}}</p>
    </div>
</div>